@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";
  font-display: swap;
  src: url("../source/fonts/inter-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Inter";
  font-display: swap;
  src: url("../source/fonts/inter-500.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Inter";
  font-display: swap;
  src: url("../source/fonts/inter-600.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";
  font-display: swap;
  src: url("../source/fonts/inter-700.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  font-display: swap;
  src: url("../source/fonts/plus-500.woff2") format("woff2");
}
