// Typography

$ff-inter: "Inter", "Arial", sans-serif;
$ff-plus: "Plus Jakarta Sans", "Arial", sans-serif;
$ff-normal: 400;
$ff-medium: 500;
$ff-semibold: 600;
$ff-bold: 700;


// Animation

$tf-default: ease;
$trans-default: 0.3s $tf-default;


// Viewports

$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
